body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}


.header {
    top: 0;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #333;
    text-align: center;
}
.header:hover {
    background-color: cornflowerblue;
    color: black;
}
p {
    color: rgba(177, 44, 77, 0.507);
    text-align: center;
    border: 5px solid green;
}
p:hover {
 color: blue;
 background-color: grey;
}

.footer {
    color: fuchsia;
    text-align: center; 
    top: auto;
}
.footer:hover {
    color: blue;
    border: 4px solid black;
    padding: 0;
    background-color: goldenrod;
}